@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-background h-full  text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-bold text-white;
}

p,
span,
a,
li {
	@apply text-gray font-medium;
}

::-webkit-scrollbar {
	display: none;
}
.mce-content-body {
	background: #eeeeee
}
